*{
	font-family: "微软雅黑";
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: #fff;
}
body{
	background-color: #000;
}
.clear_fix:after{
		clear: both;
		display: block;
		visibility: hidden;
		height: 0;
		line-height: 0;
		content: "";
	}
#categorys{
	width: 1000px;
	margin: 10px auto;
	position: relative;
}
.main a{
	display: block;
	width: 190px;
	height: 44px;
	padding: 0 10px;
	background-color: #B1191A;
	line-height: 44px;
}
.list{
		position: relative;
}
.list>li{
	width: 200px;
	height: 31px;
	background-color: #b61d1d;
	line-height: 31px;
	font-size: 14px;
	cursor: pointer;
	padding-right: 10px;
}
.list>li>a{
	display:block;
	width: 200px;
	height: 31px;
	padding-left: 10px;
}
.list>li>a>i{
	font: 400 9px/31px consolas;
	float: right;
	padding-right: 10px;
}
.list>li:hover{
	background-color: #fff;

}
.list>li:hover >a{
	color: #333;
}
/* sublist */
.sublist{
	width:790px;
	height: 465px;
	position: absolute;
	left: 210px;
	top: 0;
	background-color: #fff; 
	display: none;
}
.sublist_right{
	margin-top: 20px;
	width: 188px;
	float: right;
}
.sublist_right ul li{
	width: 83px;
	height: 35px;
	float: left;
	margin: 1px;
}
.sublist_right ul li a img{
	width:83px;
	height: 35px;
}
.sublist_right .big{
	width: 168px;
	height: 134px;
	margin-top: 20px;
}
.sublist_right .big a img{
	width: 168px;
	height: 134px;
}
.sublist_left{
	width: 602px;
	float: left;
	padding-top: 20px;
}
.sublist_left_header{
	margin-left: 8px;
}
.sublist_left_header a{
	display: inline-block;
	padding: 0 0 0 8px;
	margin-right: 10px;
	background-color: #7C7171;
	height: 24px;
	line-height: 24px;
	width: auto;
	white-space: nowrap;
	float: left;
}
.sublist_left_header a i{
	display: inline-block;
	width: 23px;
	height: 24px;
	text-align: center;
	font: 400 9px/24px consolas;
	background: #5c5251;
	margin-left: 8px;
	float: right;
}
.sublist_left_header a:hover ,.sublist_left_header a:hover i{
	background-color: #b61d1d;
}
.sublist_left .force{
	width: 550px;
	padding-top: 20px;
	margin-left: 8px;
}
.force dt {
  position: relative;
  float: left;
  width: 60px;
  padding: 8px 30px 0 0;
  text-align: right;
  font-weight: 700;
}
.force dt i{
	position: absolute;
	top: 16px;
	right: 18px;
	width: 4px;
	height: 14px;
	color: #666;
	font: 400 9px/14px consolas;
}
.force dd{
	width: 452px;
	padding:8px 0 0 4px;
	font-weight: 700;
	float: left;
}
.force dd a{
	padding:0 4px;
	border-left: 1px solid #999;
}
dt a{
	color: #000;
	}
dd a{
	color: #666;
}