*{
    padding: 0px;
    margin: 0px;
}
.pin{
    padding: 15px 0 0 15px;
    float:left;
}
.box{
    padding: 10px;
    border:1px solid #ccc;
    box-shadow: 0 0 6px #ccc;
    border-radius: 5px;
}
.box img{
    width:250px;
    height:auto;
    border-radius: 5px;
}
#container{
    width: 90%;
    height: auto;
    margin: 0 auto;
}
body{
    background-color: #ffffcc;
}